.descript {
    background: #f8faf9;
    background-image: url(./icons/png/menu-slide_back.png);
    background-position: right bottom;
    background-repeat: no-repeat; 
    @include fsbc;
    @include tablets {
        height: 100vh;
    }
}

.descript__container {
    @include fsbc;
    flex-direction: row;
    max-width: rem(1050px);
    overflow: hidden;
}
.descript-slider {
    display: flex;
    align-items: center;
    width: 200%;
    height: 73.23%;
}
.descript-menu {
    @include fsbc; 
    min-width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;

    @include tablets {
        position: relative;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    @include phones {
        min-width: 100vw;
        min-height: 100vh;
    }
}
.descript-menu__scroll {
    @include fcc;
    border: none;
    z-index: 10;

    @include tablets {
        position: absolute;
        top: 23%;
    }

}
.descript-menu__scroll-left {
    padding-left: 5%;
    transform: rotate(90deg);
    @include tablets {
        padding-left: 0;
        left: 20.573%;
    }

    @include phones {
        left: 2.1%;
    }
}
.descript-menu__scroll-right {
    padding-right: 5%;
    transform: rotate(270deg);
    @include tablets {
        padding-right: 0;
        right: 20.573%;
    }

    @include phones {
        right: 2.1%;
    }

}
.arrow-scroll {
    fill: #0d0d0d;
    height: 100%;
    width: rem(30px);
   
}



                /* MAIN PICTURE */


.descript-menu__picture {
    min-width: 47.06%;
    height: rem(396px);
    position: relative;
    margin-right: 1.165%;
    @include tablets {
        min-width: auto;
        width: 40.89%;
        height: 38.9%;
        margin-right: 0;
        margin-bottom: 6.2%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 120.92%;
        height: 98.99%;
        background: url(../icons/png/grab_menu.png) center center / contain no-repeat;
        top: rem(55px);
        left: rem(-65px);
        @include tablets {
            top: -7%;
            left: -13%;
        }
    }
}


                /* MAIN CONTENTS */


.descript-menu__content {
    height: 100%;
    width: 42.377%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    @include tablets {
        position: static;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

                    /* HOVER */


.descript-menu__hover {
    height: 18.907%;
    @include tablets {
        position: absolute;
        top: -21%;
        right: 0%;
        height: 46.87%;
    }
    @include phones {
        top: 1%;
        right: 3%;
    }
}
.descript-composition__item {
    @include fsbc;
    height: 10.6383%;
}
.composition-btn {
    border-radius: 5px;
    background: #00accf;
    text-align: center;
    box-sizing: border-box;
    padding-top: rem(10px);
    width: rem(90px);
    height: rem(90px);

    @include phones {
        width: 18.75vw;
        height: 11.25vh;
    }
    
}
.composition-btn__sprite {
    width: 56.7%;
    height: 56.7%;
    fill: #fff;
}
.composition-btn__text {
    text-transform: uppercase;
    font-size: rem(14px);
    @include black-i;
    color: #fff;
}
.descript-composition__sprite {
    display: inline-block;
    height: 100%;
    width: 15.963%;
    margin-right: 8.89%;
}
.descript-composition {
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    height: 69.12%;
    background: rgba(255, 255, 255, 0.95);
    right: 0;
    top: 0;
    z-index: 10;
    padding: 8.816% 7.407% 8.816% 11.48%;
    @include tablets {
        width: rem(270px);
        height: 100%;
        right: 100%;
        z-index: 12;
    }
    @include phones {
        max-width: rem(270px);
        width: 65vw;
    }
}
.descript-menu__hover:hover .descript-composition {
    display: flex;
}
.descript-composition__block {
    @include fsbc;
    @include reg;
    font-size: rem(16px);
    max-width: 100%;
    flex: 1;
}

                    /* TITLE + LIST */

.descript-menu__title {
    @include reg;
    text-transform: uppercase;
    font-size: rem(32px);
    @include tablets {
        width: 50.7%;
        text-align: center;
        margin-bottom: rem(15px);
    }
    
}
.descript-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 53.57%;

    @include tablets {
       
    }
}
.descript-menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    @include tablets {
        justify-content: center;
        margin-bottom: rem(27px);
    }
}
.descript-menu__item p {
    @include regular-grey;
    padding-bottom: 4%;

    @include tablets {
        width: 80%;
        text-align: center;
    }

}
.descript-menu__calory {
    color: #333;
    @include reg;
    margin-right: 15.537%;
    width: rem(101px);
    @include tablets {
        margin-right: 11%;
    }
}
.descript-menu__weight {
    color: #333;
    @include reg;
    width: rem(66px);

}
.descript-menu__price {
    color: #0d0d0d;
    @include li-reg;
    font-size: rem(60px);
    margin-right: 0.78%;
    line-height: 0.7em;
    min-width: 38%;
    text-align: center;
    @include tablets {
        min-width: auto;
        margin-right: 4%;
    }
}
