
@mixin fsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin fc {
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #61c4d9;
    background-image: url(./icons/png/background_list.png);
    background-repeat: no-repeat;
    background-position: right bottom;

    &::after {
        content: '';
        position: absolute;
        bottom: -50px;
        left: 30px;
        width: 59px;
        height: 112px;
        background-image: url(./icons/png/background_list_third.png);
        background-repeat: no-repeat;}
    &::before { 
        content: '';
        position: absolute;
        right: 93px;
        bottom: -46px;
        width: 111px;
        height: 108px;
        background-image: url(./icons/png/background_blackberry.png);
        background-repeat: no-repeat;
    }
}


.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 940px;
    padding: 0 10px;
   
}
.intro__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -30px;
        right: 220px;
        width: 141px;
        height: 105px;
        background-image: url(./icons/png/background_list_second.png);
        background-repeat: no-repeat;
    }
}

.header {
    padding-top: 25px;
    @include fsbc;

}
.header__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'museosans';
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    
}
.menu-list {
    list-style: none;
    @include fsbc;
    padding: 0;
    
}
.menu-list__item {
    
    margin-right: 29px;
    

    &:last-child {
        margin: 0;
    }
}

.menu__link {
    font-family: "alegreya_sansregular";
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.contact {
    
    justify-content: center;
    align-items: center;
    display: flex;
}
.contact__link {
    text-decoration: none;

}  
.contact__number {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-family: "alegreya_sansregular";
    
    &:before {
        content: '';
        display: inline-block;
        background: url("./icons/png/phone.png") no-repeat;
        height: 11px;
        margin-right: 6px;
        width: 12px;   
    }
}


                 
.intro__content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   
    
}

            /* INTRO CONTENT-MAIN*/

.intro__content-main {
    display: flex;
    flex-direction: column;

    
}
.intro__description {
    padding-top: 90px;
}
.title-bar {
    margin-top: 0;
    font-size: 60px;
    font-family: 'alegreya_sansbold';
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}
.subtitle-bar {
    font-family: "alegreya_sansregular";
    color: white;
    font-size: 21px;
    line-height: 1.4;
    font-weight: 500;
    margin-top: 15px;

}
    /*BUTTON*/
.button__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'alegreya_sans_extraboldRg';
    border-radius: 40px;
    width: 156px;
    height: 58px;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button__link_white {
    background: #fff;
    color: #0f5a47;
}
.button__link_green {
    background: #0f5a47;
    color: #fff;
}
.pictures__bar {
    margin-left: 77px;
}


                /*INTRO SUB-CONTENT*/
.sub-content {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}
/*INTRO FEATURES*/
.intro__features{
    min-width: 470px;
    margin-bottom: 50px;
}
.features-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 14px;
}
.features-block {
    display: flex;

}
.features-block__icon {
    
    width: 50px;
    height: 50px;
    
}
.features-block__text {
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    font-family: "alegreya_sansregular";
    color: white;
    font-size: 16px;
}
.features-block:last-child .features-block__text{
    margin: 0;
}
    
/* icons intro*/
.features-block__icon-product {
    display: inline-block;
    width: 44px;
    height: 41px;
    background: url(./icons/png/6.png) center center no-repeat;
    margin-right: 8px;
    
}
.features-block__icon-delivery {
    display: inline-block;
    width: 50px;
    height: 40px;
    background: url(./icons/png/5.png) center center no-repeat;
    margin-right: 12px;
}
.features-block__icon-figure {
    display: inline-block;
    min-width: 42px;
    height: 42px;
    background: url(./icons/png/4.png) center center / cover no-repeat;
    margin-right: 10px;
}
/* picture block */
.picture-content {
    display: flex;
    justify-content: flex-end;
    min-height: 255px;
    margin-top: -175px;
    margin-left: 75px; 
}
.piture__style {
     display: block;
}
.picture-block__berry {
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.picture-block__list {
     display: flex;
     align-items: flex-start;
     justify-content: flex-end;
}