
html {
    font-size: 18px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
//Selectors
.wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.active-sct {
}
.main-slide {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
.section {
    @include section;
   /* @include tablets {
        height: 100%;
    }
    @include phones {
        height: 100vh;
    }*/
}

.container {
    margin: 0 auto;
    width: 98%;
    max-width: 960px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include tablets {
        max-width: 768px;
        width: 93%;
    }
    @include phones {
        max-width: 480px;
        width: 97%;
    }
}

//Setting

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
:-webkit-any(article,aside,nav,section) h1 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

button {
    background: transparent;
    cursor: pointer;
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
}