//FONTS
@mixin black-reg{
    font-family: 'alegreya_sans_blackregular';
}
@mixin black-i{
    font-family: 'alegreya_sans_blackitalic';
}
@mixin bold{
    font-family: 'alegreya_sansbold';
}
@mixin bold-i{
    font-family: 'alegreya_sansbold_italic';
}
@mixin exb-reg{
    font-family: 'alegreya_sans_extraboldRg';
}
@mixin exb-i{
    font-family: 'alegreya_sans_extrabolditalic';
}
@mixin i{
    font-family: 'alegreya_sansitalic';
}
@mixin li-reg{
    font-family: 'alegreya_sans_lightregular';
}
@mixin li-i{
    font-family: 'alegreya_sans_lightitalic';
}
@mixin me-reg{
    font-family: 'alegreya_sans_mediumregular';
}
@mixin me-i{
    font-family: 'alegreya_sans_mediumitalic';
}
@mixin reg{
    font-family: 'alegreya_sansregular';
}



//MIXINS
@mixin section {
    width: 100%;
    height: 100vh;
    position: relative;
}
@mixin title {
    font-family: 'alegreya_sansbold';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
@mixin fc {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin fsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin regular-grey {
    color: #666666;
    font-family: 'alegreya_sansregular';
    font-size: 18px;
}
@mixin ffsc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin svg {
    fill:none;
    stroke:#000000;
    stroke-width:0.75;
    stroke-miterlimit:10;
}