.reviews {
    @include section;
    padding-bottom: rem(61px);

    &::before {
        content: '';
        position: absolute;
        width: rem(102px);
        height: rem(321px);
        left: 0;
        bottom: rem(-160px);
        background: url(./icons/png/list_revi.png) center center no-repeat;

        @include tablets {
            width: rem(76px);
            height: rem(317px);
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: rem(135px);
        height: rem(193px);
        left: 0;
        bottom: rem(-85px);
        background: url(./icons/png/berrys_revi.png) center center no-repeat;
        @include tablets {
            width: rem(96px);
            height: rem(176px);
        }
    }
}
.reviews__container {
    @include fcc;
    position: relative;

    @include tablets {
        justify-content: flex-start;
    }

    &::before{
        content: '';
        position: absolute;
        width: rem(150px);
        height: rem(86px);
        top: rem(36px);
        right: rem(-55px);
        background: url(./icons/png/strawberry_revi.png) center center no-repeat;

        @include tablets {
            width: rem(113px);
            height: rem(79px);
            top: rem(19px);
        }
    }
}
.reviews__title {
    @include title;
    margin: 0;
    padding-top: rem(69px);
    margin-bottom: rem(44px); 

    @include phones {
        margin-bottom: rem(34px);
    }
}
.reviews__content {
    margin:0 auto;
}
.reviews-list{
    @include ffsc;
    background: #f8faf9;
    height: rem(355px);
    width: 100%;
    margin-bottom: rem(21px);
    position: relative;

    @include tablets {
        justify-content: center;
        margin-bottom: rem(47px);
        height: rem(600px);
        width: rem(460px);
    }

    @include phones {
        width: 100%;
        height: rem(486px);
        margin-bottom: rem(40px);
    }

    &::before{
        content: '';
        position: absolute;
        left: 45%;
        top: 0;
        height: rem(25px);
        width: rem(90px);
        background: url(./icons/png/label_reviews.png) center center no-repeat;

        @include tablets {
            left: 40%;
            right: 40%;
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: rem(127px);
        height: rem(167px);
        background: url(./icons/png/reviews_berry.png) center center no-repeat;

        @include tablets {
            width: rem(119px);  
        }
    }
}
.reviews-list__item {
    @include ffsc;
    display: none;
    z-index: 10;

    @include tablets{
        flex-direction: column;
        text-align: center;
        width: 87%;
    }
    @include phones{
        width: 86%;
    }
}
.reviews-list_active {
    display: flex;
}
.reviews-list__avatar{
    min-width: rem(254px);
    min-height: rem(260px);
    margin-left: rem(46px);
    margin-right: rem(20px);

    @include tablets {
        margin: 0;
        min-width: auto;
        min-height: auto;
        width: 100%;
        z-index: 10;
        margin-bottom: rem(29px);
    } 

    @include phones {
        margin-bottom: rem(27px);
    }
}
.avatar-pic {
    @include tablets {
        width: 60%;
    }
    @include tablets {
        width: 31.2%;
    }
}
.reviews-list__comment{
    width: 47%;

    @include tablets {
        width: 100%;
    }
}
.reviews-list__comment h3{
    @include me-reg;
    color: #323232;
    font-size: rem(30px);
    margin: 0;
}
.reviews-list__comment p {
    @include regular-grey;
    margin-top: rem(25px);
    margin-bottom: rem(27px);
}
.reviews-list__author {
    @include regular-grey;
    @include me-reg;
    font-style: normal;
    
}
                    /* BLOCK USERS */
.reviews-commentators {
    @include fc;
}
.reviews-commentators__list{
    @include fsbc;

    @include phones {
        z-index: 100;
    }
}
.reviews-commentators__item {
    width: rem(66px);
    height: rem(66px);
    @include fc;
    border-radius: 50%;

    
    margin-right: rem(5px);
    @include tablets {
        margin-right: rem(30px);
    }
    &:last-child {
        margin-right: 0;
    }
}
.reviews-commentators__pic {
    display: inline-block;
}
.reviews-commentators_active {
    border: 6px solid #0f5a47;
}