.team {
    
    padding: rem(10px) 0 rem(73px) 0;

    @include tablets {
        padding: rem(65px) 0;
    }
    @include phones {
        padding: rem(60px) 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: rem(135px);
        height: rem(112px);
        top: rem(-39px);
        right: rem(15px);
        background: url(./icons/png/team_back_berry.png) center center / cover no-repeat;

        @include tablets {
            width: rem(102px);
            height: rem(85px);
        }

    }
    &:before {
        content: '';
        position: absolute;
        width: rem(196px);
        height: rem(341px);
        top: 0;
        right: 0;
        background: url(./icons/png/team_back_list.png) center center / cover no-repeat;

        @include tablets {
            width: rem(155px);
            height: rem(231px);
        }
    }
}
.team__container{
    @include fcc;

}


.team__title {
    @include title;
    margin-bottom: rem(58px);

    @include tablets {
        margin-bottom: 0;
        z-index: 1;
    }
}
.team__content {
    width: 100%;
    z-index: 100;
    @include tablets {
        display: flex;
        justify-content: center;
    }
}


                /*TEAM-LIST*/
.team-list {
    @include fsbc;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    
    @include tablets {
        width: rem(473px);
    }
    @include phones {
        width: rem(371px);
    }
}              
.team-list__item {
    width: 24%;
    height: auto;

    @include tablets {
        width: 47%;
        margin-top: rem(30px);
    }

    @include phones {
        width: 46%;
        margin-top: 0;
        @include fcc;
    }

    &:last-child {
        margin-right: 0;
    }
}
.team-list-pic {
    width: 100%;
    height: rem(288px);
    margin-bottom: rem(26px);

    @include phones {
        width: 85.7%;
        margin-bottom: rem(-35px)
    }
}
.team-list-content {
    @include fcc;
}
.team-list-name {
    @include me-reg;
    font-size: rem(21px);
    &::after {
        content: '';
        display: inline-block;
        margin-left: rem(5px);
        width: 0;
	    height: 0;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
        border-top: 9px solid #0f5a47; 
    }

    @include phones {
        text-align: center;
    }
}
.team-list-position {
    @include reg;
    font-size: rem(18px);
    margin-top: rem(17px);
    margin-bottom: rem(12px);

    @include phones {
        margin-bottom: rem(8px);
    }
}

.team-list-duties {
    @include regular-grey;
    text-align: center;
}
.team-list-hover {
    display: flex;
    align-items: center;
}
.team-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden; 
    
}


            /*ACTIVE MODIFICATION*/

.team-list__item_activ .team-list-info{
    height: auto;
}
.team-list__item_activ .team-list-name::after{
    border-top: none;
    border-bottom: 9px solid #0f5a47;
}