@mixin fc {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why-chocco {
    position: relative;
    height: 100vh;

    &::after {
        content: '';
        position: absolute;
        bottom: -125px;
        left: 0;
        width: 161px;
        height: 315px;
        background-image: url(./icons/png/background_pie.png);
        background-repeat: no-repeat;
    }
    &::before {
        content: '';
        position: absolute;
        top: 114px;
        left: 0;
        width: 191px;
        height: 314px;
        background-image: url(./icons/png/pattern_list_ch.png);
        background-repeat: no-repeat;
    }
}
   
.container__why-chocco {
    @include fcc;
}
.chocco-description {
    @include fcc;
    margin-bottom: 60px;
}
.chocco-description__headline {
    font-family: 'alegreya_sansbold';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 115px;
    margin: 0;
    margin-bottom: 10px;

}
.chocco-description__text {
    
    font-family: 'alegreya_sansregular';
    color: #666666;
    font-size: 18px;
    max-width: 55%;
    text-align: center;
}
.about {
    margin-top: 0px;
    @include fc;
}
.about-list {
    @include fc;
    margin: 0;
    padding: 0;
}
.about-item__logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #f2f5f4;
    position: relative;
  
    &:after {
        content: "";
        display: block;
        background-image: url(./icons/png/swipe.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 45%;
        right: -104%;
        width: 67px;
        height: 21px;
    }
    
}
.about-list__item:last-child .about-item__logo:after {
    content: none;

}

/*LOGO ABOUT*/
.about-list__item:first-child .about-item__logo {
    background-image: url(./icons/png/3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.about-list__item:nth-child(2) .about-item__logo {
    background-image: url(./icons/png/2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.about-list__item:last-child .about-item__logo {
    background-image: url(./icons/png/1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.about-list__item {
    @include fcc;
   
}
.about-item__headline h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'alegreya_sansbold';
    font-size: 27px;
    text-align: center;
}
.about-item__text p {
    max-width: 91%;
    font-family: 'alegreya_sans_lightregular';
    font-size: 18px;
    text-align: center;
    color: #666666;
    margin-bottom: 120px;
    margin-top: 0;
}
/*
*/